[submodule "Semester-3/Praktikum-Alstrukdat"]
	path = Semester-3/Praktikum-Alstrukdat
	url = https://github.com/IceTeaXXD/Praktikum-Alstrukdat.git
[submodule "Semester-3/Algeo02-21004"]
	path = Semester-3/Algeo02-21004
	url = https://github.com/IceTeaXXD/Algeo02-21004
[submodule "Semester-3/BNMO-Cooking-Simulator"]
	path = Semester-3/BNMO-Cooking-Simulator
	url = https://github.com/IceTeaXXD/BNMO-Cooking-Simulator
[submodule "Semester-3/Algeo01-21006"]
	path = Semester-3/Algeo01-21006
	url = https://github.com/IceTeaXXD/Algeo01-21006.git
[submodule "Semester-3/JavaScript-Parser"]
	path = Semester-3/JavaScript-Parser
	url = https://github.com/IceTeaXXD/JavaScript-Parser.git
[submodule "Semester-3/tugas-besar-logika-komputasional-2022-pemujamejadepan"]
	path = Semester-3/tugas-besar-logika-komputasional-2022-pemujamejadepan
	url = https://github.com/GAIB20/tugas-besar-logika-komputasional-2022-pemujamejadepan.git
